VITE_CLOUD_API_ORIGIN=https://viaje-promo-dante-2028.vercel.app
VITE_STUDENT_SOURCE=https://raw.githubusercontent.com/Panchomorell/viaje-promo-dante-2028/main/public/data/students.json
VITE_RESPONSE_SOURCE=https://raw.githubusercontent.com/Panchomorell/viaje-promo-dante-2028/main/public/data/responses.json
